* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/stratosskyengweb-regular.woff2") format("woff2");
}

body {
    background-color: #004980;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.choice-box {
    align-items: center;
    width: 480px;
    height: 459px;
    display: flex;
    flex-direction: column;
    background-color: #C2F5FF;
    border-radius: 12px;
}

.title {
    text-align: center;
    width: 208px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #004980;
    margin-bottom: 48px;
    margin-top: 52px;
}

.complex {
    display: flex;
    gap: 26px;
    margin-bottom: 67px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
}

.complex label {
    display: inline-block;
    padding: 10px 29px;
    cursor: pointer;
    border: 5px solid transparent;
    border-radius: 12px;
    background-color: white;
    box-sizing: border-box;
}

.complex input[type="radio"] {
    display: none;
}

.complex input[type="radio"]:checked+label {
    border: 5px solid #0080C1;
}

.complex label:hover {
    border: 5px solid #7db7d4
}

.start-btn {
    border: none;
    background: #7AC100;
    border-radius: 12px;
    width: 246px;
    height: 50px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.start-btn:hover {
    background-color: white;
    border: 3px solid #7AC100;
    color: #7AC100;
}